[Unit]
Description=translate-webserver
After=network.target

[Service]
User=root
Type=simple
Environment="GOOGLE_APPLICATION_CREDENTIALS=/etc/translate-webserver/google_credentials.json"
Environment="REDIS_CONNECTION={{ redis_host }}"
ExecStart=/usr/local/bin/translate-webserver

[Install]
WantedBy=multi-user.target
